header {
  background-color: $dkBlue;
  color: $white;
  padding: 0 $mSize;
  a {
    color: $white;
    text-decoration: none;
    h1 {
      display: inline-block;
      margin: 0;
    }
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $sSize 0;
}

header .btn-blue {
  background-color: transparent;
}
