* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #f5f5f5;
  color: $dk-grey;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: $mSize;
  line-height: 1.625;
}


.isActive {
  font-weight: 700;
}

