// colors
$dk-grey: #333333;
$xl-grey: #ececec;
$blue: #0fafdb;
$dkBlue: #256484;
$white: #f5f5f5;

// Sizing
$mSize: 1.625rem;
$lSize: 2*$mSize;
$xlSize: 3*$mSize;
$sSize: 0.75*$mSize;
$xsSize: 0.5*$mSize;